
.about__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 100px;
}

.about__content-content h4 {
    font-size: 35px;
    font-weight: bold;
    color: #65D2DE;
    margin: 0;
}
.about__content-content h3 {
    font-size: 55px;
    font-weight: bold;
    color: #65D2DE;
    margin-top: -20px;
    margin-bottom: 10px;
}