
.about__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 100px;
}

.about__content-content h4 {
    font-size: 35px;
    font-weight: bold;
    color: #65D2DE;
    margin: 0;
}
.about__content-content h3 {
    font-size: 55px;
    font-weight: bold;
    color: #65D2DE;
    margin-top: -20px;
    margin-bottom: 10px;
}

.about__content-content span {
    font-weight: bold;
    font-size: 20px;
    color: #2B52AA;
}

.about__content-content > p,
.about__content-content .about__letter {
    font-weight: 400;
    font-size: 14px;
    color: #0F213F;
    max-width: 997px;
    line-height: 30px;
}

.about__letter {
    margin-top: 50px;
    margin-bottom: 50px;
}

.about__content-explore {
    padding: 30px 85px;
    background-color: #F5F7F9;
}

.about__content-explore p:first-of-type {
    font-size: 18px;
    font-weight: bold;
}

.about__content-explore p:nth-child(2) {
    font-size: 16px;
    font-weight: bold;
}

.about__content-explore ul {
    padding-left: 25px;
    font-size: 14px;
    color: #2B52AA;
}

.about__cards__section {
    margin-top: 85px;
    margin-bottom: 85px;
}