.history__section {
    margin-top: 70px;
    margin-bottom: 100px;
    position: relative;
}

.history__section::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background-color: #F5F7F9;
    z-index: -1;
}

.history__section .container {
    display: flex;
    justify-content: center;
    gap: 60px;
    align-items: center;
}

.history__section .history__content span {
    font-size: 16px;
    color: #2B52AA;
    font-weight: 400;
}

.history__section .history__content h2 {
    font-size: 40px;
    font-weight: bold;
    color: #2B52AA;
    line-height: 43px;
}

.history__section .history__content p {
    font-size: 16px;
    font-weight: 400;
    color: #0F213F;
    max-width: 800px;
}   

.history__section .history__image {
    width: 700px;
    height: 600px;
    position: relative;
}

.history__section .history__image::before {
    position: absolute;
    content: '';
    width: 70%;
    height: 70%;
    top: -15px;
    left: -15px;
    background-color: #65D2DE;
}

.history-image {
    filter: grayscale(0.8);
}